{% extends "base_clean.html" %}
{% load bootstrap %}

{% block content %}

<div class="container-fluid">
  <h3 class="text-center">Exam Performance</h3>

<div class="row">
    {# search div start#}
     <div class="col-sm-2 card shadow py-3 mt-0 mb-1 ">
            <p>Search</p>

            <small>
          <form method="get" class="text-muted">
                {{ filter.form | bootstrap}}
                <button type="submit" class="btn btn-secondary btn-sm btn-block active" >Search</button>
          </form>
            </small>
    </div>
    {# search div end #}


{# table div start #}
    <div class="col-sm-10">



        <div class="table-responsive shadow-lg pt-3 px-3 pt-0 mb-4 bg-white rounded justify-content-center">
            <table class="justify-content-center table table-sm table-bordered table-hover">
                <caption>List of Students</caption>
{# table head #}
              <thead class="bg-light" >
                        <tr>
                          <th scope="col">Exam</th>
                          <th scope="col">Student</th>
                           <th scope="col">English</th>
                             <th scope="col">Kiswahili</th>
                             <th scope="col">Mathematics</th>
                             <th scope="col">Science</th>
                             <th scope="col">SST</th>
                             <th scope="col">RE</th>
                            <th scope="col">Total</th>
                        </tr>
              </thead>

{# table body #}
              <tbody>

              {% for i in filter.qs  %}
              <tr>
                      <td><a href="">{{ i.exam_name }}</a></td>
                      <td>{{ i.student }}</td>
                      <td>{{ i.english }} </td>
                    <td>{{ i.kiswahili }} </td>
              <td>{{ i.mathematics }} </td>
              <td>{{ i.science }} </td>
              <td>{{ i.social_studies }} </td>
              <td>{{ i.religious_education }} </td>
              <td>{{ i.total }} </td>
              </tr>
              {% endfor %}

              </tbody>
            </table>
{# table end #}
        </div>
    </div>
{# table div end #}

</div>{# page row ended #}

</div>{# container fluid ended #}

{% endblock %}