.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
body {
    /*background-color: rgba(235, 237, 238, 0.31);*/
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
table{
    background-color:white;
    text-align: center;

}
